.App {
margin: 0;
padding: 0;
}

.app_main{
  display: grid;
  height: 97%;
  width: 97%;
  border-radius: 2rem;
  gap: 16px;
  grid-template-columns: 12rem auto 20rem;
  overflow: hidden;

}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
